.inline {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.navbar {
    width: 73%;
    padding: 1% 
}

.content {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
    img {
        border-radius: 50%;
      }
}
.footer {
    display: inline-block;
    padding: 25px;
    background-color: #373738;
    vertical-align: top;
}

